{% extends 'base.html' %}

{% block content %}
<h1 class="center">Watch Details</h1>


<section class="row container">
    <div class=" col s6">
        <img src="{{ watch.img }}" alt="watch"  class="responsive-img">
    </div>


    <div class="card col s6">
        <div class="card-content center">
            <span class="card-title">{{ watch.brand }}</span>
            <p class="">Name: {{ watch.name }}</p>
            <p>manufactured: {{ watch.manufactured }} </p>
        </div>
            
        <div class="card-action center">
            <a href="{% url 'watch_delete' watch.id %}" class="black-text">Delete Watch</a>
            <a href="{% url 'watch_update' watch.id %}" class="black-text">Update Watch</a>
        </div>
    </div>
    

</section>





{% endblock %}