{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch Collector</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <header class="navbar-fixed ">
        <nav>
            <div class="nav-wrapper grey darken-3">
                <ul>
                    <li><a href="/" class="left brand-logo material-icons md-48">watch</a></li>
                </ul>
                <ul class="right">
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer grey darken-3">
        <div class="center"> All Rights Reserved || Leonardo Rodriguez || Watch Collector </div>
    </footer>
</body>

</html>